body {
  font-family: sans-serif, Arial, Helvetica;
  color: #f1f1f1;
  margin: 0;

  background-image: url(/assets/backgroundImg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-color: #fc0373;
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  margin-left: 2px;
}

.section {
  background-color: #abababbb;
}

/* .container {
  margin-left: 20px;
} */

/* .row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

/* .row::after {
  display: block;
  clear: both;
  content: "";
} */
/* could have done it with bootstrap*/
/* .col-1 {width: 8.33%;}; 
.col-2 {width: 16.66%;};
.col-3 {width: 25%;};
.col-4 {width: 33.33%;};
.col-5 {width: 41.66%;};
.col-6 {width: 50%;};
.col-7 {width: 58.33%;};
.col-8 {width: 66.66%;};
.col-9 {width: 75%;};
.col-10 {width: 83.33%;};
.col-11 {width: 91.66%;};
.col-12 {width: 100%;}; */

/* * {
  box-sizing: border-box;
} */

/* [class*="col-"] { */
/* border: 1px solid whitesmoke; */
/* padding: 10px; */
/* float: left; */
/* } */

.section_name {
  margin-left: 20px;
}

.section_description {
  margin-left: 30px;
}
